.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  margin-right: 40px;
}

.login {
  margin-right: 20px;
}

.front {
  margin-left: 0%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
